@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f9;
}

.App {
  max-width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  display: grid;
  place-items: center;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 480px;
  justify-content: center;
  align-items: center;
}


.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  
}

.chat-window .chat-header {
  min-height: 60px;
  background: #263238;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}



.chat-window .chat-header p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px; 
}

.user-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7289da;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.user-circle .full-name {
  display: none;
  position: absolute;
  bottom: -25px;
  background-color: #424549;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
}

.user-circle:hover .full-name {
  display: block;
}

.active-users {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.logout-button {
  background: #ff5252;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background: #e64a19;
}

.chat-window .chat-body {
  flex-grow: 1;
  background: #f4f4f9;
  border-bottom: 1px solid #ddd;
  overflow-y: auto;
  
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  padding: 5px;
  display: flex;
  margin: 0 10px;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  max-width: 360px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 5px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-window .chat-footer input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
  outline: none;
}

.chat-window .chat-footer button {
  padding: 10px 20px;
  background: #43a047;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.chat-window .chat-footer button:hover {
  background: #2e7d32;
}

.date-divider {
  text-align: center;
  margin: 10px 0;
  color: #888;
}



/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .chat-window {
    min-width: 100%;
    min-height: 100%;
  }

  .chat-window .chat-body {
    height: calc(100vh - (45px + 70px));
  }

  .joinChatContainer input,
  .joinChatContainer button {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .joinChatContainer h3 {
    font-size: 1.5rem;
  }

  .chat-window .chat-header,
  .chat-window .chat-footer {
    padding: 0 5px;
  }

  .chat-window .chat-footer input {
    padding: 0 0.5em;
  }

  .chat-window .chat-footer button {
    font-size: 20px;
  }

  .chat-window .chat-body .message .message-content {
    max-width: 150px;
  }
}
